---
import HeaderLink from './HeaderLink.astro';
---

<header>
	<div class="internal-links">
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/projects">Projects</HeaderLink>
		<HeaderLink href="/whoami">Whoami?</HeaderLink>
	</div>
</header>
